<template name="Playground">
{{> Nav}}

    <div class="main-content" style="height:100%;">
      <br/>
      <br/>

      <div class="col-xl-10 mb-5 mb-xl-0">


                    <form lpformnum="1" _lpchecked="1" style="padding:25px !important;margin-left:5%;margin-right:5%">

                           <div class="pl-lg-4" style="padding-left:0px !important">

           <div class="row">
                               <div class="col-md-12">
                                 <div class="form-group focused">
                                   <label class="form-control-label" for="input-address" style="color:#6c757d !important;font-weight:500">Experiment Name</label>
                                   <input id="input-address" class="form-control form-control-alternative" placeholder="" value="" type="text" style="color:black;border:none !important;background-image: url(" data:image="">
                                 </div>
                               </div>
                             </div>
           <div class="row">

                             </div>
                             <div class="row">
                               <div class="col-md-12">
                                                               <div class="form-group focused">

                                         <div class="card shadow" style="border:1px solid rgba(0,0,0,.05); border-radius: .375rem; box-shadow:0 0 2rem 0 rgba(136, 152, 170, 0.15) !important;margin-top:10px">
                                           <div class="card-header border-0" style="background-color:#6c757d">
                                             <div class="row align-items-center">
                                               <div class="col">
                                                 <h3 class="mb-0" style="color:white;font-size:14px">Goals</h3>
                                               </div>
                                               <div class="col text-right">
                                               </div>
                                             </div>
                                           </div>
                                           <div class="table-responsive">
                                             <!-- Projects table -->
                                             <table class="table align-items-center table-flush">

                                               <tbody>
                                                 <tr >
                                                   <th scope="row" style="color: #000000!important;font-family:'Lucida Grande' !important; font-size:13px; font-weight: normal;">
                                                 Do harm to none
                                                   </th>

                                                 </tr>
                                                   <tr >
                                                     <th scope="row" style="color: #000000!important;font-family:'Lucida Grande' !important; font-size:13px; font-weight: normal;">
                                                   Choose long term value over short term gain
                                                     </th>

                                                   </tr>  <tr >
                                                       <th scope="row" style="color: #000000!important;font-family:'Lucida Grande' !important; font-size:13px; font-weight: normal;">
                                                     Look for existing solutions instead of creating one from scratch
                                                       </th></tr>

                                               </tbody>
                                             </table>
                                           </div>
                                         </div>
                                         </div>
                                 </div>
                               </div>

                                <div class="row">
                                  <div class="col-md-12">
                                                                  <div class="form-group focused">

                                            <div class="card shadow" style="border:1px solid rgba(0,0,0,.05); border-radius: .375rem; box-shadow:0 0 2rem 0 rgba(136, 152, 170, 0.15) !important;margin-top:10px">
                                              <div class="card-header border-0" style="background-color:#6c757d">
                                                <div class="row align-items-center">
                                                  <div class="col">
                                                    <h3 class="mb-0" style="color:white;font-size:14px">Key Metrics</h3>
                                                  </div>
                                                  <div class="col text-right">
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="table-responsive">
                                                <!-- Projects table -->
                                                <table class="table align-items-center table-flush">
<thead class="thead-light" >
                  <tr >
                    <th scope="col">Name</th>
                    <th scope="col">Intented Output</th>
                  </tr>
                </thead>
                                                  <tbody>
                                                    <tr >
                                                      <th scope="row" style="color: #000000!important;font-family:'Lucida Grande' !important; font-size:13px; font-weight: normal;">
                                                    Breakeven Amount
                                                      </th>
                                                        <th scope="row" style="color: #000000!important;font-family:'Lucida Grande' !important; font-size:13px; font-weight: normal;">
                                                      1000
                                                        </th>

                                                    </tr>
                                                      <tr >
                                                        <th scope="row" style="color: #000000!important;font-family:'Lucida Grande' !important; font-size:13px; font-weight: normal;">
                                                      Customers
                                                        </th>
                                                            <th scope="row" style="color: #000000!important;font-family:'Lucida Grande' !important; font-size:13px; font-weight: normal;">
                                                          200
                                                            </th>

                                                      </tr>  <tr >
                                                          <th scope="row" style="color: #000000!important;font-family:'Lucida Grande' !important; font-size:13px; font-weight: normal;">
                                                        Reach
                                                          </th>

  <th scope="row" style="color: #000000!important;font-family:'Lucida Grande' !important; font-size:13px; font-weight: normal;">
10000
  </th>
                                                        </tr>

                                                  </tbody>
                                                </table>
                                              </div>
                                            </div>
                                            </div>
                                    </div>
                                  </div>
<!--
    <div class="row">
      <div class="col-md-12">
                                      <div class="form-group focused">

                <div class="card shadow" style="border:1px solid rgba(0,0,0,.05); border-radius: .375rem; box-shadow:0 0 2rem 0 rgba(136, 152, 170, 0.15) !important;margin-top:10px">
                  <div class="card-header border-0" style="background-color:#6c757d">
                    <div class="row align-items-center">
                      <div class="col">
                        <h3 class="mb-0" style="color:white;font-size:14px;">Trials</h3>
                      </div>
                    <div class="col text-right">
                  <a href="#!" class="btn btn-sm btn-default" style="background-color:#ffffff;color:#6c757d;font-size:12px !important;font-weight:600 !important">Add Trial</a>
                </div>
                    </div>
                  </div>
                  <div class="table-responsive">
                    <table class="table align-items-center table-flush">
<thead class="thead-light" >
<tr >
<th scope="col">Trial Name</th>
<th scope="col">Score</th>
<th scope="col">Actions</th>

</tr>
</thead>
                      <tbody>
                        <tr >

                            <th scope="row" style="color: #000000!important;font-family:'Lucida Grande' !important; font-size:13px; font-weight: normal;">
                          Trial #1
                            </th>
  <th scope="row" style="color: #000000!important;font-family:'Lucida Grande' !important; font-size:13px; font-weight: normal;">
50%
  </th>
    <th scope="row" style="color: #000000!important;font-family:'Lucida Grande' !important; font-size:13px; font-weight: normal;">
<i class="fas fa-edit" aria-hidden="true" style="margin-right:10px;color: #6c757d"></i>
<i class="fas fa-trash-alt" aria-hidden="true"  style="color:#6c757d"></i>
    </th>
                        </tr>
                          <tr >

                                <th scope="row" style="color: #000000!important;font-family:'Lucida Grande' !important; font-size:13px; font-weight: normal;">
                              Trial #2
                                </th>
                                      <th scope="row" style="color: #000000!important;font-family:'Lucida Grande' !important; font-size:13px; font-weight: normal;">
                                  70%
                                      </th>
                                        <th scope="row" style="color: #000000!important;font-family:'Lucida Grande' !important; font-size:13px; font-weight: normal;">
<i class="fas fa-edit" aria-hidden="true" style="margin-right:10px;color: #6c757d"></i>
<i class="fas fa-trash-alt" aria-hidden="true"  style="color:#6c757d"></i>
                                        </th>

                          </tr>  <tr >


<th scope="row" style="color: #000000!important;font-family:'Lucida Grande' !important; font-size:13px; font-weight: normal;">
Trial #3
</th>
  <th scope="row" style="color: #000000!important;font-family:'Lucida Grande' !important; font-size:13px; font-weight: normal;">
80%
  </th>  <th scope="row" style="color: #000000!important;font-family:'Lucida Grande' !important; font-size:13px; font-weight: normal;">
<i class="fas fa-edit" aria-hidden="true" style="margin-right:10px;color: #6c757d"></i>
<i class="fas fa-trash-alt" aria-hidden="true" style="color:#6c757d" ></i>
    </th>
                            </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
                </div>
        </div>
      </div>
-->
  <div class="row">
    <div class="col-md-12">
                                    <div class="form-group focused">

              <div class="card shadow" style="border:1px solid rgba(0,0,0,.05); border-radius: .375rem; box-shadow:0 0 2rem 0 rgba(136, 152, 170, 0.15) !important;margin-top:10px">
                <div class="card-header border-0" style="background-color:#6c757d">
                  <div class="row align-items-center">
                    <div class="col">
                      <h3 class="mb-0" style="color:white;font-size:14px">Learnings</h3>
                    </div>
                    <div class="col text-right">
                    </div>
                  </div>
                </div>
                <div class="table-responsive">
                  <!-- Projects table -->
                  <table class="table align-items-center table-flush">

                    <tbody>
                      <tr >
                        <th scope="row" style="color: #000000!important;font-family:'Lucida Grande' !important; font-size:13px; font-weight: normal;">
                     Lean Methodology
                        </th>


                      </tr>
                        <tr >
                          <th scope="row" style="color: #000000!important;font-family:'Lucida Grande' !important; font-size:13px; font-weight: normal;">
                        Success Principles from Made to Stick
                          </th>


                        </tr>  <tr >
                            <th scope="row" style="color: #000000!important;font-family:'Lucida Grande' !important; font-size:13px; font-weight: normal;">
                          Epic Principles from Power of Moments
                            </th>


                          </tr>

                    </tbody>
                  </table>
                </div>
              </div>
              </div>
      </div>
    </div>

      <div class="row">
        <div class="col-md-12">
                                        <div class="form-group focused">

                  <div class="card shadow" style="border:1px solid rgba(0,0,0,.05); border-radius: .375rem; box-shadow:0 0 2rem 0 rgba(136, 152, 170, 0.15) !important;margin-top:10px">
                    <div class="card-header border-0" style="background-color:#6c757d">
                      <div class="row align-items-center">
                        <div class="col">
                          <h3 class="mb-0" style="color:white;font-size:14px">Mental Models</h3>
                        </div>
                        <div class="col text-right">
                        </div>
                      </div>
                    </div>
                    <div class="table-responsive">
                      <!-- Projects table -->
                      <table class="table align-items-center table-flush">

                        <tbody>
                          <tr >
                            <th scope="row" style="color: #000000!important;font-family:'Lucida Grande' !important; font-size:13px; font-weight: normal;">
                          First Principles
                            </th>


                          </tr>
                            <tr >
                              <th scope="row" style="color: #000000!important;font-family:'Lucida Grande' !important; font-size:13px; font-weight: normal;">
                            Customers
                              </th>


                            </tr>  <tr >
                                <th scope="row" style="color: #000000!important;font-family:'Lucida Grande' !important; font-size:13px; font-weight: normal;">
                              Reach
                                </th>


                              </tr>

                        </tbody>
                      </table>
                    </div>
                  </div>
                  </div>
          </div>
        </div>


          <div class="row">
            <div class="col-md-12">
                                            <div class="form-group focused">

                      <div class="card shadow" style="border:1px solid rgba(0,0,0,.05); border-radius: .375rem; box-shadow:0 0 2rem 0 rgba(136, 152, 170, 0.15) !important;margin-top:10px">
                        <div class="card-header border-0" style="background-color:#6c757d">
                          <div class="row align-items-center">
                            <div class="col">
                              <h3 class="mb-0" style="color:white;font-size:14px">Frameworks</h3>
                            </div>
                            <div class="col text-right">
                            </div>
                          </div>
                        </div>
                        <div class="table-responsive">
                          <!-- Projects table -->
                          <table class="table align-items-center table-flush">

                            <tbody>
                              <tr >
                                <th scope="row" style="color: #000000!important;font-family:'Lucida Grande' !important; font-size:13px; font-weight: normal;">
                             Lean Methodology
                                </th>


                              </tr>
                                <tr >
                                  <th scope="row" style="color: #000000!important;font-family:'Lucida Grande' !important; font-size:13px; font-weight: normal;">
                                Success Principles from Made to Stick
                                  </th>


                                </tr>  <tr >
                                    <th scope="row" style="color: #000000!important;font-family:'Lucida Grande' !important; font-size:13px; font-weight: normal;">
                                  Epic Principles from Power of Moments
                                    </th>


                                  </tr>

                            </tbody>
                          </table>
                        </div>
                      </div>
                      </div>
              </div>
            </div>





                           </div>

                           <!-- Description -->


                         </form>
                  </div>
                </div>

</template>
