

<template name="Frameworks">

    <div class="main-content" style="height:100%;">
     	 		 	 <br/>

      <div class="col-xl-10 mb-5 mb-xl-0" style="margin-left:5%;margin-right:5%;">
<div class="row" >
   <div class="col-md-8" style="padding:0px">
     <br/>
       <br/>
<h4 style="padding:0px !important;color:#000000;font-weight:600;font-size:1.4rem">Frameworks</h4>
<p style="font-family:'Open Sans',sans-serif;font-weight:300;font-size:1rem">Frameworks provide us with time-tested principles to obtain the desired outcome. It prevents us from making amateurish mistakes and helps us use the wisdom of people who have come before us. We will be adding more frameworks to our library soon.</p>  <button class="btn btn-icon btn-3 btn-secondary" type="button" style="font-size:14px;padding:10px !important;background-color:black" data-toggle="modal" data-target="#framework-modal">
                <span class="btn-inner--icon" ><i class="fas fa-plus" style="top:0px !important"></i></span>
                <span class="btn-inner--text">Add Framework</span>
              </button>
</div>
    <div class="col-md-4" style="float:right !important">
<img src="/img/frameworks_low.png" style="height:200px;float:right"/>
</div>
</div>
     <br/>
        <div class="modal fade" id="framework-modal" tabindex="-1" role="dialog" aria-labelledby="framework-modal"  aria-hidden="true">
            <div class="modal-dialog modal- modal-dialog-centered modal-" role="document" style="max-width:800px !important">
                <div class="modal-content" style="border:none !important">

                    <div class="modal-header" style="background-color:#F5F5F5; border-bottom:none !important">
                        <h6 class="modal-title" id="modal-title-default" style="
        font-size: 13px !important; color: #6c757d !important;font-weight:600 !important">Add Framework</h6>

                    </div>

                    <div class="modal-body" style="
        padding:20px !important; font-weight:0 !important;background-color:#F5F5F5; padding-top:5px !important">

                 <form lpformnum="1" _lpchecked="1">



                        <!-- Address -->

                        <div class="pl-lg-4" style="padding-left:0px !important">


                          <div class="row">
                            <div class="col-md-12">
                              <div class="form-group focused">
                                <label class="form-control-label" for="input-address" style="color:#6c757d !important;font-weight:500">Name</label>
                                <input id="input-name" class="form-control form-control-alternative" placeholder="" value="" type="text" style="color:black;border:none !important;">
                                <input type="hidden" id="frameworkId" name="frameworkId" value="">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="form-group focused">
                                <label class="form-control-label" for="input-address" style="color:#6c757d !important;font-weight:500">Describe the framework in a sentence</label>
                                <input id="input-sentence-summary" class="form-control form-control-alternative" placeholder="" value="" type="text" style="color:black;border:none !important;">
                              </div>
                            </div>
                          </div>
                              {{> FrameworkPrinciples}}
                              <div class="row">
                                <div class="col-md-12">
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-bottom:0px !important;background-color:#f75676;color:#ffffff;font-size:12px !important; font-weight:600;">
        <span class="alert-inner--text" id="error_message"></span>

    </div>
                                  </div>
                                </div>
                        </div>

                        <!-- Description -->


                      </form>

                    </div>

                    <div class="modal-footer" style="background-color:#F5F5F5;border-top:none !important">
                                                  <button type="button" class="btn btn-secondary" id="addFramework" style="font-size:14px !important;padding:10px !important;background-color:black">Add Framework</button>
                          <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal" style="color:#6c757d;font-size:14px !important">Close</button>

                    </div>

                </div>
            </div>
            </div>

   <div class="row" >
          {{#each frameworks}}

          <div class="col-lg-4 col-md-6">
            <div class="color-swatch card shadow" id="framework"  data-toggle="modal" data-target="#framework-modal" style="cursor:pointer;border:1px solid rgba(0,0,0,.05); border-radius: .375rem; box-shadow:0 0 2rem 0 rgba(136, 152, 170, 0.15) !important">

              <div class="color-swatch-body" style="background-color:#ffffff; border:2px solid black; border-radius:2px; box-shadow:5px 5px black">
<center>
                <div class="prop-item-wrap" style="float:none !important">
<center>
                  <div class="prop-item">

                    <div class="value" style="color:black;font-size:14px">{{name}}</div>
                  </div>
</center>
                </div>
</center>
              </div>
            </div>
          </div>
          {{/each}}




        </div>
                </div>
                </div>

</template>


<template name="FrameworkPrinciples">
          <div class="row">
            <div class="col-md-12">
                                            <div class="form-group focused">

                      <div class="card shadow" style="border:1px solid rgba(0,0,0,.05); border-radius: .375rem; box-shadow:0 0 2rem 0 rgba(136, 152, 170, 0.15) !important;margin-top:10px">
                        <div class="card-header border-0" style="background-color:#000000">
                          <div class="row align-items-center">
                            <div class="col">
                              <h3 class="mb-0" style="color:white;padding-top:4px;padding-bottom:4px;font-size:16px">Framework Principles</h3>
                            </div>
                            <div class="col text-right">
                            </div>
                          </div>
                        </div>
                        <div class="table-responsive">
                          <!-- Projects table -->
                          <table class="table align-items-center table-flush">

                            <tbody>
                          {{#each frameworkprinciples}}
                          <tr >
                            <th scope="row" >
                            <input type="text" id={{_id}} placeholder="Define a principle that can be applied" value={{principle}} style="border:none;width:100%;color: #000000!important;font-size:13px;font-weight: normal;font-family:'Lucida Grande'" />
                            </th>
                          </tr>
                          {{/each}}
                          {{#if checkSize frameworkprinciples}}
                        <tr >
                          <th scope="row" style="color: #000000!important;font-family:'Lucida Grande' !important; font-size:13px; font-weight: normal;">
                          <input type="text"  value="" placeholder="Define a principle that can be applied" style="border:none;width:100%;color: #000000!important;font-size:13px;font-weight: normal;font-family:'Lucida Grande'" autofocus/>
                          </th>
                        </tr>
                         {{/if}}

                            </tbody>
                          </table>
                        </div>
                      </div>
                      </div>
              </div>
            </div>
  </template>
