<template name="Nav">
{{#if loggedIn}}
    <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
      <div class="container-fluid">
        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Brand -->
      <a class="navbar-brand" href="#" style="font-size:1.4em">
             <img src="/img/ewlogo.svg" class="navbar-brand-img" style="max-height:10rem !important" >
</a>
        <!-- User -->
        <ul class="nav align-items-center d-md-none">

          <li class="nav-item dropdown">
            <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

            </a>

          </li>
        </ul>
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
          <!-- Collapse header -->
          <div class="navbar-collapse-header d-md-none">
            <div class="row">

              <div class="col-6 collapse-close">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                  <span></span>
                  <span></span>
                </button>
              </div>
            </div>
          </div>

          <!-- Navigation -->
          <ul class="navbar-nav" style="font-family:'Lucida Grande'!important;">
  <li class="nav-item {{ link_status '/'}}">
    <a class="nav-link " href="/">
      <i class="fas fa-star"></i> North Star
    </a>
  </li>
            <li class="nav-item {{ link_status '/principles'}}">
              <a class="nav-link " href="/principles">
                <i class="fas fa-balance-scale"></i> Principles
              </a>
            </li>

            <li class="nav-item {{ link_status '/mentalmodels'}}">
              <a class="nav-link " href="/mentalmodels">
                <i class="fas fa-cube"></i> Mental Models
              </a>
            </li>
            <li class="nav-item {{ link_status '/frameworks'}}">
              <a class="nav-link " href="/frameworks">
                <i class="fas fa-toolbox"></i> Frameworks
              </a>
            </li>

              <li class="nav-item {{ link_status '/playground'}}">
                <a id="playground" class="nav-link " href="/playground">
                  <i class="fas fa-football-ball"></i> Playground
                </a>
              </li>

                <li class="nav-item {{ link_status '/logout'}}">
                  <a id="playground" class="nav-link " href="/logout">
                    <i class="fas fa-power-off"></i> Logout
                  </a>
                </li>

          </ul>


        </div>
      </div>
    </nav>
{{/if}}
</template>
